.newpost{
    background: #393e46;
    padding: 30px;
    margin: 0 -10px;
}
.textarea{
    margin: 0px 0px 10px 0px;
}
.textarea textarea{
    resize: none;
    border-radius: 0;
    width: 100%;
    height: 80px;
    font-size: 15px;
    color: #eee;
    background: transparent;
    border: 2px solid #00adb5;
}
.textarea textarea::placeholder{
    color: #eee;
}
.label{
    font-size: 24px;
    letter-spacing: 1px;
    color: #eee;
    display: inline-block;
    margin: 0px 0px 10px 0px;
}
