.newpost{
    background: #393e46;
    padding: 30px;
    margin: 0 -10px  40px -10px;
}
.textarea{
    margin: 0px 0px 10px 0px;
}
.textarea textarea{
    resize: none;
    border-radius: 0;
    width: 100%;
    height: 80px;
    font-size: 15px;
    color: #eee;
    background: transparent;
    border: 2px solid #00adb5;
    padding: 10px;
}
.textarea textarea::placeholder{
    color: #eee;
}
.label{
    font-size: 24px;
    letter-spacing: 1px;
    color: #eee;
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

.input{
    display: none;
}

.buttons{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.buttons button{
    flex: 0 0 auto;
}

.buttons label{
    margin: 0px 0px 0px 10px;
    flex: 0 0 auto;
}

.details{
    margin: 0px 0px 0px 10px;
    font-size: 14px;
    color: #eee;
    flex: 1 1 auto;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.details span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 1 auto;
    margin: 0px 5px 0px 0px;
}

@media (max-width: 767px){
    .buttons{
        flex-wrap: wrap;
    }
   
    .details{
        margin: 10px 0px 0px 0px;
        flex: 1 1 100%;
    }
    .newpost{
        padding: 20px;
    }
}
@media (max-width: 480px){
    .buttons{
        flex-direction: column;
        align-items: start;
    }
    .buttons label{
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
    .buttons button{
        width: 100%;
    }
    .details{
        width: 100%;
    }
}