.newpost{
    background: #393e46;
    padding: 30px;
}
.textarea{
    /* position: relative; */
    /* width: 100%;
    height: 80px; */
    margin: 0px 0px 10px 0px;
}
.textarea textarea{
    /* position: absolute;
    top: 0;
    left: 0; */
    resize: none;
    border-radius: 0;
    width: 100%;
    height: 80px;
    font-size: 15px;
    color: #eee;
    background: transparent;
    border: 2px solid #00adb5;
}
.textarea textarea::placeholder{
    color: #eee;
}
.label{
    font-size: 24px;
    letter-spacing: 1px;
    color: #eee;
    display: inline-block;
    margin: 0px 0px 10px 0px;
}
.btn{
    height: 40px;
    box-shadow: none;
    border-radius: 20px;
    border: none;
    padding: 0 30px;
    font-weight: 500;
    color: #fff;
    background: #00adb5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}
.btn span{
    position: relative;
}
.btn span:before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
@media (min-width: 992px){
    .btn:hover span::before{
        width: 100%;
 }
}