.users{
    padding: 40px 10px;
    font-size: 18px;
}
.user{
    display: flex;
    margin: 0px 0px 40px 0px;
}
.usersCont{

}
.body{
    flex: 1 1 auto;
    padding: 0px 0px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    flex: 0 0 auto;
}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 0px 10px 0px;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    font-size: 30px;
    color: #222831;
}
.status{
    font-size: 24px;
    color: #393e46;
}

.btn{
    height: 40px;
    width: 120px;
    box-shadow: none;
    border-radius: 20px;
    border: none;
    padding: 0 30px;
    font-weight: 500;
    color: #fff;
    background: #00adb5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}
.btn span{
    position: relative;
}
.btn span:before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
@media (min-width: 992px){
    .btn:hover span::before{
        width: 100%;
 }
}
.btn:disabled{
    background: #008086;
}

.pagination{
    display: flex;
    padding: 10px 0px;
    margin: 0px 0px 15px 0px;
    overflow-y: auto;
}
.page{
    border: 1px solid #00adb5;
    padding: 0 10px;
    height: 30px;
    border-radius: 15px;
    color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.page:last-child{
    margin: 0px 0px 0px 0px;
}

.selectedPage{
    background: #00adb5;
    color: #fff;
}

