.friends{
    padding: 10px 0px 20px 0px;
}

.title{
    font-size: 26px;
    letter-spacing: 1px;
    color: #222831;
    background: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0;
}

.body{
    display: flex;
    flex-wrap: wrap;
}

.preloader{
    padding: 20px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}