.form{
    border-top: 1px solid #393e46;
    border-bottom: 1px solid #393e46;
    margin: 0px 0px 20px 0px;
    padding: 15px 0;
}

.body{
    max-width: 400px;
}

@media (max-width: 480px){
    .body{
        max-width: none;
    }
}

.label{
    display: inline-block;
    font-size: 18px;
    color: #393e46;
    font-weight: 500;
    letter-spacing: .3px;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
}

.item{
    margin: 0px 0px 10px 0px;
}
.item input{
    margin: 0px 0px 5px 0px;
}
.item_checkbox{
    display: flex;
    align-items: center;
}

.item_checkbox .label{
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.buttons{
    display: flex;
    align-items: center;
}

.submitError{
    color: #00adb5;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px 0px 10px 0px;
}

.buttons button{
    margin: 0px 10px 0px 0px;
}
