.status{
    font-size: 18px;
    letter-spacing: .5px;
    color: #333;
    line-height: 1.3;
}

.input input{
    border: none;
    border-radius: 0;
    background: #ddd;
    padding: 5px 20px;
    font-size: 18px;
    letter-spacing: .5px;
    color: #333;
    line-height: 1.3;
}