.preloader {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .preloader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #00adb5;
    border-radius: 50%;
    animation: preloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color:  #00adb5 transparent transparent transparent;
  }
  .preloader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .preloader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .preloader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.preloader.white div {
  border-color: white transparent transparent transparent;
}