@font-face{font-family:GardensC;font-display:swap;src:url(./fonts/GardensC.woff) format("woff"),url(./fonts/GardensC.woff2) format("woff2");font-weight:400;font-style:normal}a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}*{padding:0;margin:0}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}:active,:focus{outline:0}a:active,a:focus{outline:0}aside,footer,header,nav{display:block}body,html{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:GardensC,sans-serif}button,input,textarea{font-family:GardensC,sans-serif}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit}

.body{
  font-family: 'GardensC', sans-serif;
}
::-webkit-scrollbar{
		width: 16px;
	}
::-webkit-scrollbar-thumb{
    background: #222831;
	}
::-webkit-scrollbar-track{
		background: #393e46;
	}
.wrapper{
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: minmax(0px,3fr) 12fr;
  gap: 10px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 10px 40px 10px;
  position: relative;
}
@media (max-width: 1400px){
  .wrapper{
    max-width: 1200px;
  }
  
}
@media (max-width: 1300px){
  .wrapper{
    max-width: 1100px;
  }
}
@media (max-width: 1200px){
  .wrapper{
    max-width: 992px;
  }
}

@media (max-width: 992px){
  .wrapper{
    max-width: none;
    grid-template-areas:
  "header header"
  "main main";
  }
}

.main{
  grid-area: main;
  background: #fff;
  box-shadow: 2px 2px 7px #222831;
  overflow: hidden;
}

